@{
    ViewBag.Title = "Login";
}

    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Inte medlem? Registrera dig @Html.ActionLink("här", "Egistrera")
            </p>
        </div>
    </section>