@model golf.Models.resultClass

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="@Url.Content("~/Content/Mobile.css")" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>MobileComp</title>
</head>

<body>
    <div id="wrapper" class="wrapper">
        <div id="myholes" class="myholes">
            <h2>Här fyller jag i antal slag</h2>
            <div id="myholesinfo" class="myholesinfo">
                <label id="labelhole1" class="labelhole1">Hål 1</label>
                <label id="labelhole2" class="labelhole2">Par 4</label>
            </div>
            <div id="myholescontrols" class="myholescontrols">
                <div class="btn"><p>-</p></div>
                <div id="numberofstrokes" class="numberofstrokes"><p>5</p></div>
                <div class="btn"><p>+</p></div>
            </div>
        </div>
        <br>

        <div id="entirelist" class="entirelist">
            <p>Andra tävlande</p>

            <table id="othercompetetors" class="othercompetetors">
                <thead>
                    <tr>
                        <td>
                            <p>Spelare</p>
                        </td>
                        <td>
                            <p>Poäng</p>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Anders Johansson
                        </td>
                        <td>
                            231
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Anders Johansson
                        </td>
                        <td>
                            231
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
