@model golf.Models.resultClass

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/Mobile.css")" rel="stylesheet" type="text/css" />
    <title>Index</title>
</head>
<body>
    <div class="outerContainer">
        <div class="btnContainer">

                @if (Model.compList.Count > 0)
                {
                    foreach (var i in Model.compList)
                    {

                        <input type="button" value="Starta @i.name.ToString()" class="btnStart" onclick="window.location.href=('@Url.Action("MobileStart", "Mobile")?cid='+@i.Id)" />
                    }
                }
                else
                {
                    @Html.Label("Inga tävlingar tillgängliga");
                }
      


        </div>
    </div>

</body>
</html>
