@model golf.Models.resultClass

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <table>

            <tr>
                <th>

                    @Html.Label("Tävling")


                </th>
                <th>
                    @Html.Label("Starta")
                </th>

            </tr>
            @foreach (var i in Model.compList)
            {

                <tr>

                    <td>
                        @Html.Label(i.name.ToString())

                    </td>
                    <td>
                        @*<div class="buttonGreen">*@
                        @Html.ActionLink("Starta", "MobileStart", new { cid = i.Id })
                        @*</div>*@


                    </td>



                </tr>
            }
        </table>

    </div>
</body>
</html>
