@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <p>
                Detta är medlemshanteringen.
            </p>
        </div>
    </section>
}
@model IEnumerable<golf.Models.Person>

@{

}

<input id="searchButton" type="submit" onclick="soP(1)" value="Sök" />
<input id="searchField" type="text" placeholder="sök" />

<div class="searchDiv" id="searchDiv">


</div>

<script>

    function soP(d) {

        var s = document.getElementById('searchField').value;

        $.ajax({
            url: '/MemberManagement/searchMember',
            contentType: 'application/html; charset=utf-8',
            data: { searchstring: s },
            type: 'GET',
            dataType: 'html'

        })

        .success(function (result) {
            $('#searchDiv').html(result);
        })
        .error(function (xhr, status) {
            alert(status);
        })


    }



</script>