@model golf.Models.NewsClass
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
               Detta är startsidan, här publiceras de senaste nyheterna.
            </p>
        </div>
    </section>
}


<div class="sectionone">
    <h3>Startsidans innehåll</h3>
    <br>
    Lorem Ipsum är en utfyllnadstext från tryck- och förlagsindustrin.
    Lorem ipsum har varit standard ända sedan 1500-talet, när en okänd
    boksättare tog att antal bokstäver och blandade dem för att göra ett provexemplar av en bok.
    Lorem ipsum har inte bara överlevt fem århundraden, utan även övergången till elektronisk
    typografi utan större förändringar. Det blev allmänt känt på 1960-talet i samband med
    lanseringen av Letraset-ark med avsnitt av Lorem Ipsum, och senare med mjukvaror som Aldus PageMaker.
</div>

<div class="sectiontwo">
    <h3>Senaste nytt</h3>

    
    @if(User.Identity.IsAuthenticated)
    {
        <br />
        <a href="/Home/AddNews"><button type="submit">Skapa nytt inlägg</button></a>
    }
   

    <br />

    @foreach (var item in Model.newarticle)
    {
        <br/>
            
        @Html.Label(item.header)
            @*@Html.TextArea("header", item.content, 10, 50, new { @style = "resize:none;", @readonly = true, @disabled = true })*@
        @*<br />
        <pre>s
            @item.content
        </pre>*@
        @Html.Raw(item.content.Replace(Environment.NewLine, "<br/>"))
        
        <br />
            <p>  </p>
        
    }
</div>


