@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Här sker tidsbokningar.
            </p>
        </div>
    </section>
}
<h3>Tidsbokning innehåll</h3>
<br>
<label>Bana <input type="text"></label>
<select>
    <option value="val1">Val 1</option>
    <option value="val1">Val 1</option>
    <option value="val1">Val 1</option>
    <option value="val1">Val 1</option>
    <option value="val1">Val 1</option>
    <option value="val1">Val 1</option>
</select>&nbsp;&nbsp;&nbsp;&nbsp;
<label>Datum <input type="text"></label>
<select> 
    <option value="val1">Val 1</option>
    <option value="val1">Val 1</option>
    <option value="val1">Val 1</option>
    <option value="val1">Val 1</option>
    <option value="val1">Val 1</option>
</select>&nbsp;&nbsp;&nbsp;&nbsp;
<label>Antal spelare <input type="text"></label>
<select>
    <option value="val1">1</option>
    <option value="val1">2</option>
    <option value="val1">3</option>
    <option value="val1">4</option>
    <option value="val1">5</option>
    <option value="val1">6</option>
</select>&nbsp;&nbsp;&nbsp;&nbsp;
<input id="Button1" type="button" value="button" />
