@model golf.Models.NewsClass
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Här kan du följa de senaste nyheterna, och hålla dig updaterad.
            </p>
        </div>
    </section>
}
@{
    ViewBag.Title = "Index";
}

    <br>
    <a href="/News/AddNews"><button type="submit">Updatera nyheter</button></a>
    <br>
    <br>
    @foreach (var item in Model.newarticle)
    {
        @Html.Label(item.header)
        <div class="forumpost" id="forumpost">
            @Html.TextArea("header", item.content, 10, 500, new { @style = "resize:none;", @readonly = true, @disabled = true })
        </div>
    }
      
