@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Boka tid
            </p>
        </div>
    </section>
}
@model golf.Models.CalendarClass
@{
    ViewBag.Title = "Index";
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link href="@Url.Content("~/Content/TeeTime.css")" rel="stylesheet" type="text/css" />
}


   
    

<h2></h2>
<div class="timeWrapper" id="timeWrapper">
 
    <div class="dateselection">

       
        <div class="containPicker" id="cP">
            <input type="submit" id="datepicker" class="dp" value="@Model.dateString">
        </div>      
  
          
        
          
    
    </div>
    <div id="teetimes">

    </div>
    <div id="details" class="TeeDetails">
    <p id="timeInfo" class="timeInfo"></p>
        <div id="playerName">
            <ul id="playerList"></ul>
       
            <ul id="addedList"></ul>
        </div>
   
 
        <div id="ControlDiv">
    
            
           

        </div>
             
            <div id="ControlDiv2">
              
            </div>
        
    </div>
</div>
<script src="http://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script type="text/javascript">


    $(document).ready(function () {

        loadData();
        


        function loadPicker() {

            $('#datepicker').datepicker();
            $.datepicker.regional['sv'] = {
                closeText: 'Stäng',
                prevText: '< Föregående',
                nextText: 'Nästa >',
                currentText: 'Nu',
                monthNames: ['Januari', 'Februari', 'Mars', 'April', 'Maj', 'Juni', 'Juli', 'Augusti', 'September', 'Oktober', 'November', 'December'],
                monthNamesShort: ['Jan', 'Feb', 'Mar', 'Apr', 'Maj', 'Jun', 'Jul', 'Aug', 'Sep', 'Okt', 'Nov', 'Dec'],
                dayNamesShort: ['Sön', 'Mån', 'Tis', 'Ons', 'Tor', 'Fre', 'Lör'],
                dayNames: ['Söndag', 'Måndag', 'Tisdag', 'Onsdag', 'Torsdag', 'Fredag', 'Lördag'],
                dayNamesMin: ['Sö', 'Må', 'Ti', 'On', 'To', 'Fr', 'Lö'],
                weekHeader: 'Не',
                dateFormat: 'yy-mm-dd',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };
            $.datepicker.setDefaults($.datepicker.regional['sv']);
            $('#datepicker').datepicker('option', 'dateFormat', 'yy-mm-dd');
            $('#datepicker').datepicker('setDate', new Date());
            document.getElementById('ui-datepicker').style.display = block;

        }

        function loadData(){
            $.ajax({
                url: '/TeeTime/loadTeetimes',
                contentType: 'application/html; charset=utf-8',
                type: 'GET',
                dataType: 'html'

            })
            .success(function (result) {
                $('#teetimes').html(result);
                loadPicker();
              
            })
            .error(function (xhr, status) {
                alert(status);
            })
            
        }
        $(function () {
            $("#datepicker").datepicker({
                dateFormat: "yy-mm-dd",
                onSelect: function () {
                    var selected = $(this).val();                 
                    changeDate(selected);
                }
            });
        });

        function changeDate(d) {

         
            document.getElementById('details').style.display = 'none';
         
            $.ajax({
                url: '/TeeTime/ChangeSelDate',
                contentType: 'application/html; charset=utf-8',
                data: {newDate: d },
                type: 'GET',
                dataType: 'html'

            })
            
            .success(function (result) {
                $('#teetimes').html(result);
            })
            .error(function (xhr, status) {
                alert(status);
            })
            
        }


    });





</script>

