@model IEnumerable<golf.Models.TeeTime>
@{
    ViewBag.Title = "Index";
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link href="@Url.Content("~/Content/TeeTime.css")" rel="stylesheet" type="text/css" />
}

<script type="text/javascript" language="javascript">
    function onTimeDivClick() {
        
        document.getElementById('details').style.display = 'block';
        
    }
</script>
    
    
<div class="test">

</div>
<h2>Index</h2>
<div class="timeWrapper">
    @for (int i = 0; i < 6; i++)
    {
        foreach (var item in Model)
        {
            string saveTime = item.teeTime1;
            
            char getChar = saveTime[3];
            string checkMinute = getChar.ToString();
            
            string checkHour = saveTime[0].ToString() + saveTime[1].ToString(); 

            if (checkMinute == i.ToString())
            {
                if (checkMinute == "0")
                {
                    <div class="hourAndMinutes">
                        <div class="timedivHour" onclick="onTimeDivClick()" id=@item.Id time=@item.teeTime1[3]>
                            @Html.DisplayFor(modelItem => item.teeTime1)
                        </div>
                        @foreach (var o in Model)
                        {
                            if (o.teeTime1[0].ToString() + o.teeTime1[1].ToString() == checkHour && o.teeTime1[3].ToString() != "0")
                            {
                                <div class="timedivMin" onclick="onTimeDivClick()" id=@o.Id>

                                    @Html.DisplayFor(modelItem => o.teeTime1)
                                </div>

                            }
                        }

                    </div>
                }



                    }



                
                    }


                    }

    <div id="details" class="TeeDetails">
        <p>En div för TeeTime-detaljer</p>
    </div>
</div>

