@model IEnumerable<golf.Models.TeeTime>
@{
    ViewBag.Title = "Index";
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
    <link href="@Url.Content("~/Content/TeeTime.css")" rel="stylesheet" type="text/css" />
}

    
    

<h2>Index</h2>
<div class="timeWrapper">
    @foreach (var item in Model)
    {
        <div class="timediv" id=@item.Id>
            @Html.DisplayFor(modelItem => item.teeTime1)
        </div>

    }
</div>

