@model IEnumerable<golf.Models.PersonGolfer>
<table>
    <tr>
        <td>
         <label style="font-weight:bold; margin-right: 5px">Förnamn</label>
        </td>
        <td>
            <label style ="font-weight:bold; margin-right: 5px">Efternamn</label>
        </td>
        <td>
            <label style="font-weight:bold; margin-right: 5px">Handikap</label>
        </td>
        <td>
            <label style="font-weight:bold; margin-right: 5px">GolfID</label>
        </td>
    </tr>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HCP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.golfstring)
        </td>
        <td>
            
        </td>

    </tr>
}

</table>

<script language="JavaScript">


</script>