body {
}

.timeWrapper{
    width: 100%;
    
    
    
}
.hourAndMinutes{
    width:7%;
    float: left;
    margin-left: 1%;
    
}
.timedivHour{
    width:100%;
    background-color: lightgreen;
    font-weight: bold;
    padding-bottom: 50%;
    margin-left: 10%;
    margin-bottom: 10%;
    float: left;
    display: block;
}
.timedivMin{
    width:100%;
    background-color: lightgreen;
    padding-bottom: 50%;
    margin-left: 10%;
    margin-bottom: 10%;
    float: left;
    display: block;

}
.timedivEmpty{
    width:7%;
    background-color: lightgreen;
    padding-bottom: 2%;
    margin-left: 1%;
    float: left;
}