body {
}

.timeWrapper{
    width: 100%;
    display:block;
    margin-bottom:3%;
    
}
.hourAndMinutes{
    width:7%;
    float: left;
    margin-left: 1%;
    
}
.timedivHour{
    width:100%;
    background-color: lightgreen;
    font-weight: bold;
    padding-bottom: 50%;
    margin-left: 10%;
    margin-bottom: 10%;
    float: left;
    display: block;
}
.timedivMin{
    width:100%;
    background-color: lightgreen;
    padding-bottom: 50%;
    margin-left: 10%;
    margin-bottom: 10%;
    float: left;
    display: block;

}
.timedivMin:hover{
    cursor: pointer;
    cursor: hand;
    font-weight: bold;
    color: white;
    background-color: rgb(30, 196, 30);
}
.timedivHour:hover{
    cursor: pointer;
    cursor: hand;
    font-weight: bold;
    color: white;
    background-color: rgb(30, 196, 30);
}
.timedivEmpty{
    width:7%;
    background-color: lightgreen;
    padding-bottom: 2%;
    margin-left: 1%;
    float: left;
}
.TeeDetails{
    float:left;
    top:0px;
    left:0px;
    display: none;
    width:97%;
    height:150px;
    font-family:verdana;
    font-size:13px;
    padding:10px;
    background-color:white;
    border:2px solid grey;
    
    }