body {
}

.timeWrapper{
    width: 100%;
    
    
}
.timedivHour{
    width:7%;
    background-color: lightgreen;
    font-weight: bold;
    padding-bottom: 2%;
    margin-left: 1%;
    margin-bottom: 1%;
    float: left;
}
.timedivMin{
    width:7%;
    background-color: lightgreen;
    padding-bottom: 2%;
    margin-left: 1%;
    margin-bottom: 1%;
    float: left;

}
.timedivEmpty{
    width:7%;
    background-color: lightgreen;
    padding-bottom: 2%;
    margin-left: 1%;
    float: left;
}