@model golf.Models.AddCompPlayer
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>


<div class="addplayer" id="addplayer">
    <h2>@Model.comp.name</h2>
    <h3>@Model.comp.cDate</h3>
    <div>
        <input id="searchButton" type="submit" onclick="search()" value="Sök" />
        <input id="searchField" type="text" placeholder="sök" />

    </div>
    <div id=" sDiv" class="sDiv">

        
    </div>

</div>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>

    function search() {

        alert("Test");

        var string = document.getElementById('searchField').value;

        $.ajax({
            url: '/Competition/searchPlayer',
            contentType: 'application/html; charset=utf-8',
            data: { pg: @Model.golfers ,s: string },
            type: 'GET',
            dataType: 'html'

        })

        .success(function (result) {
            $('#sDiv').html(result);
        })
        .error(function (xhr, status) {
            alert(status);
        })


    }

</script>