@model golf.Models.RegisterComp

@{
    ViewBag.Title = "_regResultPerson";
}




@using (Html.BeginForm("addHoleStats", "Competition", FormMethod.Post, null))
{
    <fieldset>
        <legend>Resultat</legend>

        <table>
            <tr>
                <th>
                    @Html.Label("Hål")
                </th>
                <th>
                    @Html.Label("Antal slag")
                </th>
            </tr>


            @foreach (var item in Model.holeStats)
            {
                <tr>
                    <td>
                        @Html.Label(item.Hole.Number)
                    </td>
                    <td>
                        @Html.EditorFor(m => item.stroaks)
                    </td>
                </tr>
            }
            
            <input type="submit" id="saveHoleStats" value="Spara" />

        </table>
    </fieldset>
}




