@model golf.Models.AddCompPlayer

@{
    ViewBag.Title = "View1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <p>
                Tävlingar
            </p>
        </div>
    </section>
}
<div class="addplayer" id="addplayer">
    <h2>@Model.comp.name</h2>
    <h3>@Model.comp.cDate</h3>
    <div>
        <input id="searchButton" type="submit" onclick="search()" value="Sök" />
        <input id="searchButton" type="submit" onclick="sok1()" value="Sök1" />
        <input id="searchField" type="text" placeholder="sök" />

    </div>
    <div id="sDiv" class="sDiv">

        
    </div>

</div>

<script type="text/javascript">
    function sok1(){
        alert("test");
    }
    function search() {

        //alert("Test");

        
        
        var string = document.getElementById('searchField').value;

        var g = @Model.comp.Id
        $.ajax({
            url: '/Competition/searchPlayer',
            contentType: 'application/html; charset=utf-8',
            data: {id: g, s: string },
            type: 'GET',
            dataType: 'html'
            

        })

        .success(function (result) {
            $('#sDiv').html(result);
        })
        .error(function (xhr, status) {
            alert(status);
        })


    }

</script>