@model golf.Models.CreateComp
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <p>
                Tävlingar
            </p>
        </div>
    </section>
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="showComp" class="showComp">

    @Html.Partial("_sComp", Model)
    


    @Ajax.ActionLink("Visa tävlingar", "loadComp", new AjaxOptions() {
    UpdateTargetId = "showComp",
    HttpMethod = "GET",
    InsertionMode = InsertionMode.Replace
     })


    @Ajax.ActionLink("Skapa tävling", "createComp", new AjaxOptions()
   {
       UpdateTargetId = "showComp",
       HttpMethod = "GET",
       InsertionMode = InsertionMode.Replace
   })
</div>

