@{
    ViewBag.Title = "registerResult";
}

<h2>registerResult</h2>
@Html.Label("Vald tävling hårdkodat")


@Html.Label("Spelare (hårdkodat)")


@for (int i = 0; i < 2; i++)
{
    @Html.Label("HÅLNUMMER HÄR" + "Slag")
}