<table>
    @*foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor
                </td>

                <td>
                    @Html.ActionLink("Ändra", "Edit", new { id = item.Id })
                </td>
            </tr>

        }*@

</table>
